.style_navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.style_navbar .navbar-brand {
  font-size: 25px;
}
input {
  width: 50px;
  text-align: center;
  margin-right: 10px !important;
  background: white;
  border: none;
  border: 2px solid darkorange;
}
.Custam_badge {
  padding: 10px 15px !important;
}
